<!--<clay-navigation-bar items="{{navItems}}" spritemap="{{spritemap}}"></clay-navigation-bar>-->

<div class="container text-center mt-4">
  <clay-loading-indicator></clay-loading-indicator>
  <p>{{ count }}</p>
  <p>
    <clay-button label="Primary" type="button" (click)="add()"> </clay-button>
    <clay-button label="Secondary" style="secondary" type="button" (click)="subtract()"> </clay-button>
  </p>
</div>

<div>
  <clay-checkbox label="Unchecked" inline="true"></clay-checkbox>

  <clay-checkbox
    checked="true"
    label="Checked"
    inline="true">
  </clay-checkbox>

  <clay-checkbox
    indeterminate="true"
    label="Indeterminate"
    inline="true">
  </clay-checkbox>

  <clay-checkbox
    disable="true"
    label="Unchecked disabled"
    inline="true">
  </clay-checkbox>

  <clay-checkbox
    hecked="true"
    disabled="true"
    label="Checked disabled"
    inline="true">
  </clay-checkbox>

  <clay-checkbox
    disabled="true"
    indeterminate="true"
    label="Indeterminate disabled"
    inline="true">
  </clay-checkbox>
</div>

